//Main Navigation
.top-bar-menu {
	padding:0rem;
	li {
		display:inline-block;
		float:left;
		a {
			@include linear-gradient( $lt-blue 10%, $dk-blue 90%);   
			color:$green;
			font-weight:bold;
			font-size: 0.8125rem;
			padding:0.6rem 0.8125rem;
			border-left: solid 1px $lt-blue;
			border-right:solid 1px $dk-blue;
			position:relative;

			&:hover {
				@include linear-gradient( darken($lt-blue, 10%) 10%, $dk-blue 90%); 	
			}
		}
		.dropdown {
			clip: rect(1px, 1px, 1px, 1px);
    		height: 1px;
    		overflow: hidden;

    		width: 1px;
    		display: block;
    		padding: 0;
    		position: absolute;
    		top: 2rem;
    		z-index: 99;
    		left: 0;

    		li {
    			width:100%;
    			height:auto;
    			background-color:$lt-blue;
    			border-bottom:solid 1px $dk-blue;
                
                &:last-child {
                    border-bottom:none;
                }

    			a {
    				padding: 0.5rem 1rem;
                    display:block;
    				white-space: nowrap;
    				background:transparent;
    				border:none;
    				color:$green;
                    &:hover {
                        background:darken($lt-blue, 20%);
                    }
    			}
    		}
		}
	}


	li.has-dropdown {
		position:relative;
	}
	li.active {
		a {
			@include linear-gradient( lighten($black, 40%) 0%, lighten($lt-blue, 35%) 5%, $white 80%);   		
		}

	}
}
	.top-bar-section .has-dropdown.not-click:hover>.dropdown {
			position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto;
    display: block;
    position: absolute !important;
	}





.contain-to-grid .top-bar {
	max-width:62.5rem;
	margin:0 auto;
}



@media only screen and (min-width: ($topbar-breakpoint + em-calc(1))) {
  .tab-bar { display: none; }
  .top-bar-menu {
    .parent-link {
        display:none;
    }
  	.js-generated {
  		display:none;

  	}
  }
  
}

// Hide the topbar when the screen size is smaller than the topbar breakpoint
@media only screen and (max-width: $topbar-breakpoint) {
  body.offcanvas .top-bar { display: none; }

}
